/*
*  _variables
*  Author: Jesse Piñuelas
*  -----------------------------------------------------------------------------
*  Notes:
*/

$max-width: 60em;

$grid-breakpoints: (
    xs: 0,
    sm: 640px,
    md: 960px,
    lg: 1280px,
    xl: 1600px
) !default;
